In [31]:
#SET A
#1
class student:
    def __init__(self, name, rollno,marks):
        self.name=name
        self.rollno=rollno
        self.marks=marks
    def display(self):
        print(f"name os the student is:{self.name}")
        print(f"roll no of the student is:{self.rollno}")
        print(f"marks of the student are:{self.marks}")
s1=student("Ankita",255812,90)
s1.display()

name os the student is:Ankita
roll no of the student is:255812
marks of the student are:90

In [36]:
#SET A 
#2
class employee:
    def __init__(self,Emp_ID,Name,Salary,DA,HRA):
        self.Emp_ID= Emp_ID
        self.Name=Name
        self.Salary=Salary 
        self.DA= DA
        self.HRA=HRA
    def display(self):
        print(self.Emp_ID, self.Name,self.Salary,self.DA,self.HRA)
    def calculator(self):
        print("NET SALARY")
        return (self.Salary+self.DA+self.HRA)
E1=employee("HIM_121", "DEV", 345,6768,987)
E1.display()
E1.calculator()

HIM_121 DEV 345 6768 987
NET SALARY

8100

In [16]:
#SET A 
#3
class Book:
    def __init__(self, book_no, author, title, price):
        self.book_no = book_no
        self.author = author
        self.title = title
        self.price = price

    def display(self):
        return [self.book_no, self.author, self.title, self.price]
books = []
for i in range(5):
    print(f"\nEnter details for Book {i+1}")
    book_no = input("Book Number: ")
    author = input("Author: ")
    title = input("Title: ")
    while True:
        try:
            price = float(input("Price: "))
            break
        except ValueError:
            print("Please enter a valid number for price.")
    books.append(Book(book_no, author, title, price))
print("\n{:<10} {:<20} {:<30} {:<10}".format("Book No", "Author", "Title", "Price"))
print("-" * 75)
for book in books:
    b = book.display()
    print("{:<10} {:<20} {:<30} ${:<10.2f}".format(b[0], b[1], b[2], b[3]))

Enter details for Book 1

Book Number:  1
Author:  iuy
Title:  iouy
Price:  7689

Enter details for Book 2

Book Number:  2
Author:  ih
Title:  ih
Price:  ujii

Please enter a valid number for price.

Price:  789

Enter details for Book 3

Book Number:  3
Author:  jknh
Title:  kljhn
Price:  3567

Enter details for Book 4

Book Number:  4
Author:  ljpi
Title:  kjh
Price:  7984

Enter details for Book 5

Book Number:  5
Author:  khiijp
Title:  jho
Price:  798

Book No    Author               Title                          Price
---------------------------------------------------------------------------
1          iuy                  iouy                           $7689.00
2          ih                   ih                             $789.00
3          jknh                 kljhn                          $3567.00
4          ljpi                 kjh                            $7984.00
5          khiijp               jho                            $798.00

In [1]:
#SET B
#1
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def subtract(self):
        return self.num1 - self.num2

    def multiply(self):
        return self.num1 * self.num2

    def divide(self):
        if self.num2 == 0:
            return "Error: Division by zero"
        return self.num1 / self.num2
try:
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))

    calc = Calculator(a, b)

    print("\n--- Results ---")
    print(f"Addition: {calc.add()}")
    print(f"Subtraction: {calc.subtract()}")
    print(f"Multiplication: {calc.multiply()}")
    print(f"Division: {calc.divide()}")

except ValueError:
    print("Invalid input. Please enter numeric values.")

Enter first number:  1
Enter second number:  2

--- Results ---
Addition: 3.0
Subtraction: -1.0
Multiplication: 2.0
Division: 0.5

In [14]:
#SETB
#2
class ShopItem:
    def __init__(self, item_name, quantity, price):
        self.item_name = item_name
        self.quantity = quantity
        self.price = price

    def total_cost(self):
      
        return self.quantity * self.price

    def update_quantity(self, new_quantity):
       
        if new_quantity >= 0:
            self.quantity = new_quantity
        else:
            print("Quantity cannot be negative.")

item = ShopItem("Apple", 10, 0.5)

print(f"Total cost of {item.quantity} {item.item_name}s: ${item.total_cost()}")

item.update_quantity(15)

print(f"Total cost of {item.quantity} {item.item_name}s after update: ${item.total_cost()}")

Total cost of 10 Apples: $5.0
Total cost of 15 Apples after update: $7.5

In [11]:
#Set B
#3
class Movie:
    def __init__(self, title, actor, director, year):
        self.title = title
        self.actor = actor
        self.director = director
        self.year = year

    def __str__(self):
        return f"{self.title} ({self.year}), Actor: {self.actor}, Director: {self.director}"
movies = [
    Movie("Inception", "Leonardo DiCaprio", "Christopher Nolan", 2010),
    Movie("Black Panther", "Chadwick Boseman", "Ryan Coogler", 2018),
    Movie("Parasite", "Song Kang-ho", "Bong Joon-ho", 2019),
    Movie("The Avengers", "Robert Downey Jr.", "Joss Whedon", 2012),
    Movie("Joker", "Joaquin Phoenix", "Todd Phillips", 2019)
]
print("Movies released after 2015:")
for movie in movies:
    if movie.year > 2015:
        print(movie)

Movies released after 2015:
Black Panther (2018), Actor: Chadwick Boseman, Director: Ryan Coogler
Parasite (2019), Actor: Song Kang-ho, Director: Bong Joon-ho
Joker (2019), Actor: Joaquin Phoenix, Director: Todd Phillips