In [2]:
#set A
#list
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [3]:
#seta
#list
list=["red","blue","green"]
print(list[1])

blue

In [4]:
#seta
#list
list=["a","b","c","d"]
print(list[1:3])

['b', 'c']

In [6]:
#seta
#tuples
tuple=("anushka","ankita","krishna")
print(tuple)

('anushka', 'ankita', 'krishna')

In [7]:
#seta
#tuples
tuple=([1,2,3,4,5],234,"ankita")
print(tuple)

([1, 2, 3, 4, 5], 234, 'ankita')

In [10]:
#set a 
#tuples
tuple1=(1,2)
tuple2=("x","y")
tuple3=(tuple1+tuple2)
print(tuple3)

(1, 2, 'x', 'y')

In [13]:
#seta
#sets
set1={1,2}
set2={2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3}

In [15]:

#set a 
#sets
set1={1,2,3}
set2={3,4}
set3=set1.intersection(set2)
print(set3)

{3}

In [16]:
#seta
#sets
set1={1,2}
set2={2,3}
set3=set1.union(set2)
set4=set1.intersection(set2)
set5=set3-set4
print(set5)

{1, 3}

In [17]:
#seta
#dictonaries
ani={"cow":"mooing","dog":"barking","lion":"roar"}
print(ani)

{'cow': 'mooing', 'dog': 'barking', 'lion': 'roar'}

In [19]:
#seta
#dictonaries
dict={"apple":"red","banana":"yellow"}
print(dict["banana"])

yellow

In [25]:
#seta
#dictonaries
dict1={"a":3,"b":1,"c":2}
sort=sorted(dict1) 
print(sort)

['a', 'b', 'c']

In [8]:
#seta
#dictonaries
dict1={"size":"small"}
dict2={"color":"blue"}
dict3=dict1.update(dict2)
print(dict1)

{'size': 'small', 'color': 'blue'}

In [34]:
#setb
#lists
list1=[1,2,3,4,5,1,2]
list2=[]
for item in list1:
    if item not in list2:
        list2.append(item)
print(list2)

[1, 2, 3, 4, 5]

In [11]:
#setb
#lists
list1=[]
if list1==[] :
   print("the list is empty")
else:
   print("the list is not empty")

the list is empty

In [21]:
#setb
#lists
list1=[1,6,5,4,3,8,9,7,10]
list2=list1.sort(reverse=True)
print(list1)
print(list1[0])

[10, 9, 8, 7, 6, 5, 4, 3, 1]
10

In [23]:
#setb
#lists
list1=["cat","dog","bird"]
list1.sort()
print(list1)

['bird', 'cat', 'dog']

In [26]:
#Set B
#Tuples
list1=[1,2,3,4,5,6,7,8,9,10]
tuple1=tuple(list1)
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Set B
#Tuples
tuple1=(1,2,3)
list1=list(tuple1)
list1.remove(2)
tuple2=tuple(list1)
print(tuple2)

(1, 3)

In [34]:
#Set B
#Tuples
tuple1=(10,20,30,40)
tuple1[0:2]

(10, 20)

In [37]:
#Set B
#Tuples
tuple1,tuple2=("Hi","World")
print("tuple1=",tuple1)
print("tuple2=",tuple2)

tuple1= Hi
tuple2= World

In [42]:
#SetB
#Sets
subset={1}
t=(1,2,3)
print(subset.issubset(set(t)))

True

In [41]:
#SetB
#Sets
set1={1,2,3}
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [43]:
#SetB
#Sets
set1={5,3,8}
print(min(set1))

3

In [44]:
#SetB
#Sets
s={1,2,3}
s.remove(2)
print(s)

{1, 3}

In [47]:
#SetB
#Dictionaries
student={"name":"Alice","age":10}
for key,value in student.items():
    print(key,value)

name Alice
age 10

In [48]:
#SetB
#Dictionaries
dict1={'a':1}
dict2={'b':2}
combined={**dict1,**dict2}
print(combined)

{'a': 1, 'b': 2}

In [49]:
#SetB
#Dictionaries
person={'name':'bob','age':10}
person['age']=11
print(person)

{'name': 'bob', 'age': 11}

In [50]:
#SetB
#Dictionaries
dict1={"x":5,"y":10}
dict2={"x":3,"y":4}
result={k:dict1[k]+dict2[k] for k in dict1}
print(result)

{'x': 8, 'y': 14}